body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}
.mainContent {
  position: relative;
}
#app {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(173, 172, 172, 0.35);
  overflow-y: auto;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
.nav-pills.nav-pills-nba > li.active > a,
.nav-pills.nav-pills-nba > li.active > a:hover,
.nav-pills.nav-pills-nba > li.active > a:focus {
  background-color: #006BB6;
}
.clickable {
  cursor: pointer;
}
nav.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}
nav.navbar-nba {
  background-color: #006BB6;
}
nav.navbar-nba a {
  color: #fff;
}
nav.navbar-nba a:hover,
nav.navbar-nba a:focus {
  color: #006BB6;
}
nav.navbar-nba .open > a {
  color: #006BB6;
}
nav .navbar-nba-brand {
  margin: 17px 5px 0 0;
  display: inline-block;
  background: url(../img/nav_logoman.svg) 0 0 no-repeat;
  background-size: 100%;
  width: 66px;
  height: 28px;
}
.westConf .teamCard {
  background-color: rgba(252, 208, 219, 0.2);
}
.westConf::after {
  background-image: url("../img/west.png");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}
.eastConf .teamCard {
  background-color: rgba(204, 224, 238, 0.2);
}
.eastConf::after {
  background-image: url("../img/east.png");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}
.teamCard {
  position: relative;
  height: 130px;
  padding: 4px;
  margin: 14px 4px;
  border-radius: 5px;
  border: 4px solid #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #ffffff, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
  /* FF3.5+ */
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #ffffff, 0 12px 8px -5px rgba(0, 0, 0, 0.65);
  /* Saf3.0+, Chrome */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #ffffff, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
  /* Opera 10.5, IE 9.0 */
  font-family: 'Fugaz One', cursive;
}
.teamCard .teamCardImg {
  position: relative;
  margin: auto;
  padding-top: 15px;
  width: 90px;
}
.teamCard .teamCardImg img {
  width: 90px;
}
.teamCard .teamCardTitle {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  padding: 0 5px;
}
.teamCard .teamCardIndex {
  font-size: 40px;
  position: absolute;
  top: 25px;
}
.teamCard .teamCardWL {
  font-size: 22px;
  position: absolute;
  bottom: 0;
  right: 5px;
}
.playerCard {
  position: relative;
  height: 230px;
  padding: 4px;
  margin: 14px 4px;
  border-radius: 5px;
  border: 4px solid #fff;
  background-color: rgba(204, 224, 238, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #ffffff, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
  /* FF3.5+ */
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #ffffff, 0 12px 8px -5px rgba(0, 0, 0, 0.65);
  /* Saf3.0+, Chrome */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #ffffff, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
  /* Opera 10.5, IE 9.0 */
  font-family: 'Fugaz One', cursive;
  color: #000000;
  font-size: 15px;
}
.playerCard .photo {
  width: 170px;
  height: 170px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.playerCard .photo img {
  margin: 0 0 0 -25%;
}
.playerCard .playerName {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 0 5px;
  background-color: #ffffff;
}
.playerCard .playerNumber {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 5px;
}
.playerCard .playerPosition {
  font-family: 'Oswald', cursive;
  font-weight: bold;
  position: absolute;
  top: 25px;
  right: 0;
  margin: 0 5px;
}
.playerCard .height {
  font-family: 'Oswald', cursive;
  position: absolute;
  top: 25px;
}
.playerCard .height .feets,
.playerCard .height .inches {
  font-weight: bold;
}
.playerCard .weight {
  font-family: 'Oswald', cursive;
  position: absolute;
  top: 45px;
}
.playerCard .weight .lbs {
  font-weight: bold;
}
.homeSortButton {
  position: relative;
  left: 5px;
  border-color: white;
  width: 150px;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  cursor: pointer;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #ffffff, 0 6px 7px -3px rgba(0, 0, 0, 0.85);
  /* FF3.5+ */
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #ffffff, 0 6px 7px -3px rgba(0, 0, 0, 0.65);
  /* Saf3.0+, Chrome */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #ffffff, 0 6px 7px -3px rgba(0, 0, 0, 0.85);
  /* Opera 10.5, IE 9.0 */
}
.homeSortButton i {
  position: relative;
  top: 3px;
  right: -7px;
}
.teamList,
.playerList {
  position: fixed;
  top: 64px;
  bottom: 0;
  width: 220px;
  overflow-y: auto;
}
.teamList img,
.playerList img {
  width: 30px;
}
.teamList.scrollbar::-webkit-scrollbar-track,
.teamPage.scrollbar::-webkit-scrollbar-track,
.playerList.scrollbar::-webkit-scrollbar-track,
.playerPage.scrollbar::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #006BB6;
}
.teamList.scrollbar::-webkit-scrollbar,
.teamPage.scrollbar::-webkit-scrollbar,
.playerList.scrollbar::-webkit-scrollbar,
.playerPage.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
.teamList.scrollbar::-webkit-scrollbar-thumb,
.teamPage.scrollbar::-webkit-scrollbar-thumb,
.playerList.scrollbar::-webkit-scrollbar-thumb,
.playerPage.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.teamPage {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 220px;
  overflow-y: auto;
  width: calc(100% - 220px);
  font-family: 'Fugaz One', cursive;
  color: #ffffff;
  font-size: 20px;
}
.teamPage .teamTitle {
  height: 170px;
  display: flex;
}
.teamPage .teamTitle::before {
  content: '';
  display: block;
  height: 170px;
  position: absolute;
  width: calc(100% - 220px);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 850px;
}
.teamPage .teamTitle .teamFullName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teamPage .teamTitle .city {
  padding-left: 20px;
  margin: 0;
  padding: 0 20px;
}
.teamPage .teamTitle .team {
  padding-left: 20px;
  font-size: 30px;
  margin: 0;
  padding: 0 20px;
}
.teamPage .teamTitle .teamConfRank {
  position: absolute;
  right: 0px;
  top: 57px;
  width: 150px;
  border-top: 1px white solid;
  border-left: 1px white solid;
}
.teamPage .teamTitle .teamConfRank .header {
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -7px;
  color: #000000;
  background-color: #ffffff;
  height: 56px;
}
.teamPage .teamTitle .teamConfRank .header span {
  margin: 3px;
}
.teamPage .teamTitle .teamConfRank .conf {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 15px;
}
.teamPage .teamTitle .teamConfRank .rank {
  position: absolute;
  top: 20px;
  left: 30px;
}
.teamPage .teamTitle .teamDivRank {
  position: absolute;
  right: 0px;
  top: 113px;
  width: 150px;
  border-top: 1px white solid;
  border-left: 1px white solid;
}
.teamPage .teamTitle .teamDivRank .header {
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -7px;
  color: #000000;
  background-color: #ffffff;
  height: 56px;
}
.teamPage .teamTitle .teamDivRank .header span {
  margin: 6px;
}
.teamPage .teamTitle .teamDivRank .div {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 15px;
}
.teamPage .teamTitle .teamDivRank .rank {
  position: absolute;
  top: 20px;
  left: 30px;
}
.teamPage .teamTitle .teamLastGame {
  position: absolute;
  right: 200px;
  top: 57px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
  height: 114px;
  width: 300px;
}
.teamPage .teamTitle .teamLastGame .header {
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -7px;
  color: #000000;
  background-color: #ffffff;
  height: 113px;
}
.teamPage .teamTitle .teamLastGame .header span {
  margin: 4px;
}
.teamPage .teamTitle .teamLastGame .game {
  position: absolute;
  top: 0;
  left: 22px;
  width: calc(100% - 22px);
  height: 100%;
}
.teamPage .teamTitle .teamLastGame .game .date {
  font-size: 12px;
  text-align: center;
  font-family: 'Oswald', cursive;
}
.teamPage .teamTitle .teamLastGame .game .score {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 96px;
  text-align: center;
}
.teamPage .teamTitle .teamLastGame .game .score .visitor,
.teamPage .teamTitle .teamLastGame .game .score .home {
  display: inline-block;
}
.teamPage .teamTitle .teamLastGame .game .loading {
  height: 100%;
  width: 100%;
  text-align: center;
}
.teamPage .teamTitle .teamLastGame .game .loading .spacer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.teamPage .teamTitle .teamLastGame .game .loading img {
  width: 30px;
  vertical-align: middle;
}
.teamPage .teamTitle .teamLastGame .game img {
  width: 80px;
}
.teamPage .teamTitle .teamLastGame .game img.visitor {
  position: absolute;
  top: 20px;
  left: 0;
}
.teamPage .teamTitle .teamLastGame .game img.home {
  position: absolute;
  top: 20px;
  right: 0;
}
.teamPage .teamStats {
  border-top: 1px white solid;
}
.teamPage .teamStats .stat {
  display: inline-block;
  padding: 0 20px;
  border-right: 1px white solid;
  text-align: right;
}
.teamPage .teamStats .ppgRank,
.teamPage .teamStats .apgRank,
.teamPage .teamStats .rpgRank,
.teamPage .teamStats .opgRank {
  font-size: 12px;
}
.teamPage .teamRoster {
  margin: 0;
}
.teamPage .teamSplits {
  margin: 0;
  font-size: 12px;
}
.teamPage .teamSplits .groupSet {
  margin: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.teamPage .teamSplits .groupSet .groupSetHeader {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.teamPage .teamSplits .groupSet .groupSetHeader.loading {
  width: 10%;
}
.teamPage .teamSplits .groupSet .groupSetHeader.loading img {
  height: 22px;
}
.teamPage .teamSplits .groupSet .groupSetHeader .groupSetItem {
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  background-color: #006BB6;
  border: 1px #e2e2e2 solid;
  cursor: pointer;
}
.teamPage .teamSplits .groupSet .groupSetHeader .groupSetItem.split {
  flex-grow: 2;
}
.teamPage .teamSplits .groupSet .groupSetHeader .groupSetItem.active {
  background-color: #f56613;
}
.teamPage .teamSplits .groupSet .groupSetSplit {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.teamPage .teamSplits .groupSet .groupSetSplit:hover .groupSetItem {
  background-color: rgba(0, 107, 182, 0.5);
}
.teamPage .teamSplits .groupSet .groupSetSplit:hover .groupSetItem.split {
  background-color: #f56613;
}
.teamPage .teamSplits .groupSet .groupSetSplit .groupSetItem {
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border: 1px #e2e2e2 solid;
}
.teamPage .teamSplits .groupSet .groupSetSplit .groupSetItem.split {
  flex-grow: 2;
}
.teamPage .teamSplits .groupSet .groupSetSplit .groupSetItem.max {
  color: #006bb6;
}
.teamPage .teamSplits .groupSet .groupSetSplit .groupSetItem.active {
  background-color: rgba(0, 107, 182, 0.5);
}
.teamPage .teamSplits .groupSet .groupSetSplit .groupSetItem.active.max {
  background-color: #f56613;
}
.playerPage {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 220px;
  overflow-y: auto;
  width: calc(100% - 220px);
  font-family: 'Fugaz One', cursive;
  color: #ffffff;
  font-size: 20px;
}
.playerPage .playerTitle {
  height: 170px;
  display: flex;
  position: relative;
}
.playerPage .playerTitle::before {
  content: '';
  display: block;
  height: 170px;
  position: absolute;
  width: calc(100% - 220px);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 850px;
}
.playerPage .playerTitle .photo img {
  height: 170px;
}
.playerPage .playerTitle .playerFullName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playerPage .playerTitle .playerFullName .firstname {
  padding-left: 20px;
  margin: 0;
  padding: 0 20px;
}
.playerPage .playerTitle .playerFullName .lastname {
  padding-left: 20px;
  font-size: 30px;
  margin: 0;
  padding: 0 20px;
}
.teamPage .teamTitle.ATL,
.playerPage .playerTitle.ATL {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #e21a37);
  background: -moz-linear-gradient(to bottom, #006bb6, #e21a37);
  background: -o-linear-gradient(to bottom, #006bb6, #e21a37);
  background: -ms-linear-gradient(to bottom, #006bb6, #e21a37);
  background: linear-gradient(to bottom, #006bb6, #e21a37);
}
.teamPage .teamTitle.ATL::before,
.playerPage .playerTitle.ATL::before {
  background-image: url("../img/ATL.svg");
}
.background.ATL {
  background-color: #e21a37;
  color: #ffffff;
}
.teamPage .teamTitle.BKN,
.playerPage .playerTitle.BKN {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #000000);
  background: -moz-linear-gradient(to bottom, #006bb6, #000000);
  background: -o-linear-gradient(to bottom, #006bb6, #000000);
  background: -ms-linear-gradient(to bottom, #006bb6, #000000);
  background: linear-gradient(to bottom, #006bb6, #000000);
}
.teamPage .teamTitle.BKN::before,
.playerPage .playerTitle.BKN::before {
  background-image: url("../img/BKN.svg");
}
.background.BKN {
  background-color: #000000;
  color: #ffffff;
}
.teamPage .teamTitle.BOS,
.playerPage .playerTitle.BOS {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #00611b);
  background: -moz-linear-gradient(to bottom, #006bb6, #00611b);
  background: -o-linear-gradient(to bottom, #006bb6, #00611b);
  background: -ms-linear-gradient(to bottom, #006bb6, #00611b);
  background: linear-gradient(to bottom, #006bb6, #00611b);
}
.teamPage .teamTitle.BOS::before,
.playerPage .playerTitle.BOS::before {
  background-image: url("../img/BOS.svg");
}
.background.BOS {
  background-color: #00611b;
  color: #ffffff;
}
.teamPage .teamTitle.CHA,
.playerPage .playerTitle.CHA {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #00848e);
  background: -moz-linear-gradient(to bottom, #006bb6, #00848e);
  background: -o-linear-gradient(to bottom, #006bb6, #00848e);
  background: -ms-linear-gradient(to bottom, #006bb6, #00848e);
  background: linear-gradient(to bottom, #006bb6, #00848e);
}
.teamPage .teamTitle.CHA::before,
.playerPage .playerTitle.CHA::before {
  background-image: url("../img/CHA.svg");
}
.background.CHA {
  background-color: #00848e;
  color: #ffffff;
}
.teamPage .teamTitle.CHI,
.playerPage .playerTitle.CHI {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #b00203);
  background: -moz-linear-gradient(to bottom, #006bb6, #b00203);
  background: -o-linear-gradient(to bottom, #006bb6, #b00203);
  background: -ms-linear-gradient(to bottom, #006bb6, #b00203);
  background: linear-gradient(to bottom, #006bb6, #b00203);
}
.teamPage .teamTitle.CHI::before,
.playerPage .playerTitle.CHI::before {
  background-image: url("../img/CHI.svg");
}
.background.CHI {
  background-color: #b00203;
  color: #ffffff;
}
.teamPage .teamTitle.CLE,
.playerPage .playerTitle.CLE {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #860038);
  background: -moz-linear-gradient(to bottom, #006bb6, #860038);
  background: -o-linear-gradient(to bottom, #006bb6, #860038);
  background: -ms-linear-gradient(to bottom, #006bb6, #860038);
  background: linear-gradient(to bottom, #006bb6, #860038);
}
.teamPage .teamTitle.CLE::before,
.playerPage .playerTitle.CLE::before {
  background-image: url("../img/CLE.svg");
}
.background.CLE {
  background-color: #860038;
  color: #ffffff;
}
.teamPage .teamTitle.DAL,
.playerPage .playerTitle.DAL {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #006bb6);
  background: -moz-linear-gradient(to bottom, #006bb6, #006bb6);
  background: -o-linear-gradient(to bottom, #006bb6, #006bb6);
  background: -ms-linear-gradient(to bottom, #006bb6, #006bb6);
  background: linear-gradient(to bottom, #006bb6, #006bb6);
}
.teamPage .teamTitle.DAL::before,
.playerPage .playerTitle.DAL::before {
  background-image: url("../img/DAL.svg");
}
.background.DAL {
  background-color: #006bb6;
  color: #ffffff;
}
.teamPage .teamTitle.DEN,
.playerPage .playerTitle.DEN {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #feb927);
  background: -moz-linear-gradient(to bottom, #006bb6, #feb927);
  background: -o-linear-gradient(to bottom, #006bb6, #feb927);
  background: -ms-linear-gradient(to bottom, #006bb6, #feb927);
  background: linear-gradient(to bottom, #006bb6, #feb927);
}
.teamPage .teamTitle.DEN::before,
.playerPage .playerTitle.DEN::before {
  background-image: url("../img/DEN.svg");
}
.background.DEN {
  background-color: #feb927;
  color: #ffffff;
}
.teamPage .teamTitle.DET,
.playerPage .playerTitle.DET {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #fa002c);
  background: -moz-linear-gradient(to bottom, #006bb6, #fa002c);
  background: -o-linear-gradient(to bottom, #006bb6, #fa002c);
  background: -ms-linear-gradient(to bottom, #006bb6, #fa002c);
  background: linear-gradient(to bottom, #006bb6, #fa002c);
}
.teamPage .teamTitle.DET::before,
.playerPage .playerTitle.DET::before {
  background-image: url("../img/DET.svg");
}
.background.DET {
  background-color: #fa002c;
  color: #ffffff;
}
.teamPage .teamTitle.GSW,
.playerPage .playerTitle.GSW {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #003399);
  background: -moz-linear-gradient(to bottom, #006bb6, #003399);
  background: -o-linear-gradient(to bottom, #006bb6, #003399);
  background: -ms-linear-gradient(to bottom, #006bb6, #003399);
  background: linear-gradient(to bottom, #006bb6, #003399);
}
.teamPage .teamTitle.GSW::before,
.playerPage .playerTitle.GSW::before {
  background-image: url("../img/GSW.svg");
}
.background.GSW {
  background-color: #003399;
  color: #ffffff;
}
.teamPage .teamTitle.HOU,
.playerPage .playerTitle.HOU {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #cd212b);
  background: -moz-linear-gradient(to bottom, #006bb6, #cd212b);
  background: -o-linear-gradient(to bottom, #006bb6, #cd212b);
  background: -ms-linear-gradient(to bottom, #006bb6, #cd212b);
  background: linear-gradient(to bottom, #006bb6, #cd212b);
}
.teamPage .teamTitle.HOU::before,
.playerPage .playerTitle.HOU::before {
  background-image: url("../img/HOU.svg");
}
.background.HOU {
  background-color: #cd212b;
  color: #ffffff;
}
.teamPage .teamTitle.IND,
.playerPage .playerTitle.IND {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #ffb517);
  background: -moz-linear-gradient(to bottom, #006bb6, #ffb517);
  background: -o-linear-gradient(to bottom, #006bb6, #ffb517);
  background: -ms-linear-gradient(to bottom, #006bb6, #ffb517);
  background: linear-gradient(to bottom, #006bb6, #ffb517);
}
.teamPage .teamTitle.IND::before,
.playerPage .playerTitle.IND::before {
  background-image: url("../img/IND.svg");
}
.background.IND {
  background-color: #ffb517;
  color: #ffffff;
}
.teamPage .teamTitle.LAC,
.playerPage .playerTitle.LAC {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #ed174b);
  background: -moz-linear-gradient(to bottom, #006bb6, #ed174b);
  background: -o-linear-gradient(to bottom, #006bb6, #ed174b);
  background: -ms-linear-gradient(to bottom, #006bb6, #ed174b);
  background: linear-gradient(to bottom, #006bb6, #ed174b);
}
.teamPage .teamTitle.LAC::before,
.playerPage .playerTitle.LAC::before {
  background-image: url("../img/LAC.svg");
}
.background.LAC {
  background-color: #ed174b;
  color: #ffffff;
}
.teamPage .teamTitle.LAL,
.playerPage .playerTitle.LAL {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #fdba33);
  background: -moz-linear-gradient(to bottom, #006bb6, #fdba33);
  background: -o-linear-gradient(to bottom, #006bb6, #fdba33);
  background: -ms-linear-gradient(to bottom, #006bb6, #fdba33);
  background: linear-gradient(to bottom, #006bb6, #fdba33);
}
.teamPage .teamTitle.LAL::before,
.playerPage .playerTitle.LAL::before {
  background-image: url("../img/LAL.svg");
}
.background.LAL {
  background-color: #fdba33;
  color: #ffffff;
}
.teamPage .teamTitle.MEM,
.playerPage .playerTitle.MEM {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #5d76a9);
  background: -moz-linear-gradient(to bottom, #006bb6, #5d76a9);
  background: -o-linear-gradient(to bottom, #006bb6, #5d76a9);
  background: -ms-linear-gradient(to bottom, #006bb6, #5d76a9);
  background: linear-gradient(to bottom, #006bb6, #5d76a9);
}
.teamPage .teamTitle.MEM::before,
.playerPage .playerTitle.MEM::before {
  background-image: url("../img/MEM.svg");
}
.background.MEM {
  background-color: #5d76a9;
  color: #ffffff;
}
.teamPage .teamTitle.MIA,
.playerPage .playerTitle.MIA {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #98002e);
  background: -moz-linear-gradient(to bottom, #006bb6, #98002e);
  background: -o-linear-gradient(to bottom, #006bb6, #98002e);
  background: -ms-linear-gradient(to bottom, #006bb6, #98002e);
  background: linear-gradient(to bottom, #006bb6, #98002e);
}
.teamPage .teamTitle.MIA::before,
.playerPage .playerTitle.MIA::before {
  background-image: url("../img/MIA.svg");
}
.background.MIA {
  background-color: #98002e;
  color: #ffffff;
}
.teamPage .teamTitle.MIL,
.playerPage .playerTitle.MIL {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #00471b);
  background: -moz-linear-gradient(to bottom, #006bb6, #00471b);
  background: -o-linear-gradient(to bottom, #006bb6, #00471b);
  background: -ms-linear-gradient(to bottom, #006bb6, #00471b);
  background: linear-gradient(to bottom, #006bb6, #00471b);
}
.teamPage .teamTitle.MIL::before,
.playerPage .playerTitle.MIL::before {
  background-image: url("../img/MIL.svg");
}
.background.MIL {
  background-color: #00471b;
  color: #ffffff;
}
.teamPage .teamTitle.MIN,
.playerPage .playerTitle.MIN {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #2b6291);
  background: -moz-linear-gradient(to bottom, #006bb6, #2b6291);
  background: -o-linear-gradient(to bottom, #006bb6, #2b6291);
  background: -ms-linear-gradient(to bottom, #006bb6, #2b6291);
  background: linear-gradient(to bottom, #006bb6, #2b6291);
}
.teamPage .teamTitle.MIN::before,
.playerPage .playerTitle.MIN::before {
  background-image: url("../img/MIN.svg");
}
.background.MIN {
  background-color: #2b6291;
  color: #ffffff;
}
.teamPage .teamTitle.NOP,
.playerPage .playerTitle.NOP {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #0c2340);
  background: -moz-linear-gradient(to bottom, #006bb6, #0c2340);
  background: -o-linear-gradient(to bottom, #006bb6, #0c2340);
  background: -ms-linear-gradient(to bottom, #006bb6, #0c2340);
  background: linear-gradient(to bottom, #006bb6, #0c2340);
}
.teamPage .teamTitle.NOP::before,
.playerPage .playerTitle.NOP::before {
  background-image: url("../img/NOP.svg");
}
.background.NOP {
  background-color: #0c2340;
  color: #ffffff;
}
.teamPage .teamTitle.NYK,
.playerPage .playerTitle.NYK {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #f58426);
  background: -moz-linear-gradient(to bottom, #006bb6, #f58426);
  background: -o-linear-gradient(to bottom, #006bb6, #f58426);
  background: -ms-linear-gradient(to bottom, #006bb6, #f58426);
  background: linear-gradient(to bottom, #006bb6, #f58426);
}
.teamPage .teamTitle.NYK::before,
.playerPage .playerTitle.NYK::before {
  background-image: url("../img/NYK.svg");
}
.background.NYK {
  background-color: #f58426;
  color: #ffffff;
}
.teamPage .teamTitle.OKC,
.playerPage .playerTitle.OKC {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #002d62);
  background: -moz-linear-gradient(to bottom, #006bb6, #002d62);
  background: -o-linear-gradient(to bottom, #006bb6, #002d62);
  background: -ms-linear-gradient(to bottom, #006bb6, #002d62);
  background: linear-gradient(to bottom, #006bb6, #002d62);
}
.teamPage .teamTitle.OKC::before,
.playerPage .playerTitle.OKC::before {
  background-image: url("../img/OKC.svg");
}
.background.OKC {
  background-color: #002d62;
  color: #ffffff;
}
.teamPage .teamTitle.ORL,
.playerPage .playerTitle.ORL {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #0077c0);
  background: -moz-linear-gradient(to bottom, #006bb6, #0077c0);
  background: -o-linear-gradient(to bottom, #006bb6, #0077c0);
  background: -ms-linear-gradient(to bottom, #006bb6, #0077c0);
  background: linear-gradient(to bottom, #006bb6, #0077c0);
}
.teamPage .teamTitle.ORL::before,
.playerPage .playerTitle.ORL::before {
  background-image: url("../img/ORL.svg");
}
.background.ORL {
  background-color: #0077c0;
  color: #ffffff;
}
.teamPage .teamTitle.PHI,
.playerPage .playerTitle.PHI {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #ef0022);
  background: -moz-linear-gradient(to bottom, #006bb6, #ef0022);
  background: -o-linear-gradient(to bottom, #006bb6, #ef0022);
  background: -ms-linear-gradient(to bottom, #006bb6, #ef0022);
  background: linear-gradient(to bottom, #006bb6, #ef0022);
}
.teamPage .teamTitle.PHI::before,
.playerPage .playerTitle.PHI::before {
  background-image: url("../img/PHI.svg");
}
.background.PHI {
  background-color: #ef0022;
  color: #ffffff;
}
.teamPage .teamTitle.PHX,
.playerPage .playerTitle.PHX {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #e76221);
  background: -moz-linear-gradient(to bottom, #006bb6, #e76221);
  background: -o-linear-gradient(to bottom, #006bb6, #e76221);
  background: -ms-linear-gradient(to bottom, #006bb6, #e76221);
  background: linear-gradient(to bottom, #006bb6, #e76221);
}
.teamPage .teamTitle.PHX::before,
.playerPage .playerTitle.PHX::before {
  background-image: url("../img/PHX.svg");
}
.background.PHX {
  background-color: #e76221;
  color: #ffffff;
}
.teamPage .teamTitle.POR,
.playerPage .playerTitle.POR {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #cc0000);
  background: -moz-linear-gradient(to bottom, #006bb6, #cc0000);
  background: -o-linear-gradient(to bottom, #006bb6, #cc0000);
  background: -ms-linear-gradient(to bottom, #006bb6, #cc0000);
  background: linear-gradient(to bottom, #006bb6, #cc0000);
}
.teamPage .teamTitle.POR::before,
.playerPage .playerTitle.POR::before {
  background-image: url("../img/POR.svg");
}
.background.POR {
  background-color: #cc0000;
  color: #ffffff;
}
.teamPage .teamTitle.SAC,
.playerPage .playerTitle.SAC {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #51388a);
  background: -moz-linear-gradient(to bottom, #006bb6, #51388a);
  background: -o-linear-gradient(to bottom, #006bb6, #51388a);
  background: -ms-linear-gradient(to bottom, #006bb6, #51388a);
  background: linear-gradient(to bottom, #006bb6, #51388a);
}
.teamPage .teamTitle.SAC::before,
.playerPage .playerTitle.SAC::before {
  background-image: url("../img/SAC.svg");
}
.background.SAC {
  background-color: #51388a;
  color: #ffffff;
}
.teamPage .teamTitle.SAS,
.playerPage .playerTitle.SAS {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #959191);
  background: -moz-linear-gradient(to bottom, #006bb6, #959191);
  background: -o-linear-gradient(to bottom, #006bb6, #959191);
  background: -ms-linear-gradient(to bottom, #006bb6, #959191);
  background: linear-gradient(to bottom, #006bb6, #959191);
}
.teamPage .teamTitle.SAS::before,
.playerPage .playerTitle.SAS::before {
  background-image: url("../img/SAS.svg");
}
.background.SAS {
  background-color: #959191;
  color: #ffffff;
}
.teamPage .teamTitle.TOR,
.playerPage .playerTitle.TOR {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #bd1b21);
  background: -moz-linear-gradient(to bottom, #006bb6, #bd1b21);
  background: -o-linear-gradient(to bottom, #006bb6, #bd1b21);
  background: -ms-linear-gradient(to bottom, #006bb6, #bd1b21);
  background: linear-gradient(to bottom, #006bb6, #bd1b21);
}
.teamPage .teamTitle.TOR::before,
.playerPage .playerTitle.TOR::before {
  background-image: url("../img/TOR.svg");
}
.background.TOR {
  background-color: #bd1b21;
  color: #ffffff;
}
.teamPage .teamTitle.UTA,
.playerPage .playerTitle.UTA {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #f9a11e);
  background: -moz-linear-gradient(to bottom, #006bb6, #f9a11e);
  background: -o-linear-gradient(to bottom, #006bb6, #f9a11e);
  background: -ms-linear-gradient(to bottom, #006bb6, #f9a11e);
  background: linear-gradient(to bottom, #006bb6, #f9a11e);
}
.teamPage .teamTitle.UTA::before,
.playerPage .playerTitle.UTA::before {
  background-image: url("../img/UTA.svg");
}
.background.UTA {
  background-color: #f9a11e;
  color: #ffffff;
}
.teamPage .teamTitle.WAS,
.playerPage .playerTitle.WAS {
  background-color: #006bb6;
  background: -webkit-linear-gradient(to bottom, #006bb6, #cf142b);
  background: -moz-linear-gradient(to bottom, #006bb6, #cf142b);
  background: -o-linear-gradient(to bottom, #006bb6, #cf142b);
  background: -ms-linear-gradient(to bottom, #006bb6, #cf142b);
  background: linear-gradient(to bottom, #006bb6, #cf142b);
}
.teamPage .teamTitle.WAS::before,
.playerPage .playerTitle.WAS::before {
  background-image: url("../img/WAS.svg");
}
.background.WAS {
  background-color: #cf142b;
  color: #ffffff;
}
